<div class="row">
  <div class="col-auto">
    <h3>Edit post:</h3>
  </div>
</div>

    <form class="form edit-post-form">
      <div class="form-group">
        <label for="post-name">Title:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" value="{{post.title}}"/>
      </div>
      <p>Post created by: {{user.userName}} on {{format_date createdAt}}</p>
      <div class="form-group">
        <label for="post-desc">Content:</label>
        <textarea class="form-input" id="post-desc" name="post-desc">{{post.content}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  <script src="./js/editPost.js"></script>